<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analysing ur text</title>
    <body style="background-color:rgb(230, 184, 176);"></body>
</head>
<body>
    
    <h2>Your analysed text - {{purpose}}</h2>
    <p>
        <h2>{{analysed_text}}</h2>
        <h3>And the text is-</h3>
        <h3><textarea style="width: 482px; height: 70px;">{{originaltext}}</textarea></h3>
        <!--<h3>And the text is- {{originaltext}}</h3>//-->
    </p>
</body>
</html>